#sidebar {
  width: 25%;
  height: 80%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 80%;
  height: 80%;

  &__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  &__input {
    width: 100%;
    height: 2rem;
    margin: 6px 0;

    border: 1px solid black;
    border-radius: 5px;
  }

  &__image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }

  &__name {
    margin: 5px 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__statistic {
    margin-bottom: 5rem;
  }

  button {
    width: 100%;
    height: 2rem;
    margin: 6px 0;

    color: white;
    background-color: #3897db;
    cursor: pointer;
    font-size: 1.2rem;

    border: none;
    border-radius: 5px;

    &:active {
      background-color: white;
      color: #3897db;
    }
  }
}
